* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: orange;
}

.canvas-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.34);
  margin: auto;
  width: 70vw;
  height: 65vh;
}

canvas {
  display: block;
  margin: auto;
  background-color: tomato;
  border: 1px solid whitesmoke;
}

.gallery-container {
  margin: auto;
  display: flex;
  gap: 7px;
  width: 340px;
}

.gallery-container img {
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #3ce070;
  height: 4vh;
}
/* 
img {
  width: 15vw;
  height: 15vh;
} */
